<html>
    <style>

            body {
            background-color: linen;
            }

            h1 {
                color: rgb(46, 27, 27);
                margin-left: 40px;
            }
    </style>    
             
</html>        